# Project 2: UFO Sightings in Wyoming and Yellowstone National Park Visitation

## Group 4: Armand Dauti, Jacob Douthett, and Sam Espe

### Overview

INSERT OVERVIEW HERE

In [6]:
# Import dependencies

import pandas as pd
from sqlalchemy import create_engine, inspect
from datetime import datetime

### Extract

In [33]:
# Extract data into dataframes

ufo_file = "Resources/ufo_data_scrubbed.csv"
ufo_df = pd.read_csv(ufo_file)

ufo_df.head()

C:\Users\itssm\AppData\Local\Temp\ipykernel_18768\911020618.py:4: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_df = pd.read_csv(ufo_file)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [15]:
yellowstone_file = "Resources/Yellostone_Annual_Park_Recreation_Visitation_1904-2018.csv"
yellowstone_df = pd.read_csv(yellowstone_file)

yellowstone_df.head()

   year recreationvisitors totalrecreationvisitors
0  1904             13,727             183,271,650
1  1905             26,188             183,271,650
2  1906             17,182             183,271,650
3  1907             16,414             183,271,650
4  1908             19,542             183,271,650

### Transform

#### Transform UFO data

In [34]:
# Drop entries that have NaN values

ufo_no_nan_states = ufo_df.dropna(axis=0, how='any')

ufo_no_nan_states.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333

In [35]:
# Filter UFO dataframe to include only entries from Wyoming

ufos_wyoming_df = ufo_no_nan_states[ufo_no_nan_states["state"].str.contains("wy")]

ufos_wyoming_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
881,10/1/2008 20:00,glenrock,wy,us,unknown,1200,several hours,Stationary object just above NE horizon with f...,10/31/2008,42.8613889,-105.871667
1340,10/13/2006 20:30,rawlins,wy,us,triangle,30,30 sec,I was sitting in my hot tub looking at the sky...,10/30/2006,41.7911111,-107.238056
2021,10/15/2001 03:00,chugwater,wy,us,light,30,30 seconds,F.E. Warren AFB Wyoming sightings,9/9/2003,41.7566667,-104.821111
2057,10/15/2002 18:00,bosler,wy,us,unknown,120,2 minutes,Women pass through Bosler&#44 Wyoming twice wi...,10/31/2003,41.5761111,-105.694722
2207,10/15/2010 02:30,cheyenne,wy,us,light,900,15 minutes,U.F.O in Cheyenne&#44 Wyoming,11/21/2010,41.1400000,-104.819722

In [36]:
# Dropping index #6496 because the datetime object is invalid

ufos_wyoming_df = ufos_wyoming_df.drop(index=6496)

ufos_wyoming_df.head(50)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
881,10/1/2008 20:00,glenrock,wy,us,unknown,1200,several hours,Stationary object just above NE horizon with f...,10/31/2008,42.8613889,-105.871667
1340,10/13/2006 20:30,rawlins,wy,us,triangle,30,30 sec,I was sitting in my hot tub looking at the sky...,10/30/2006,41.7911111,-107.238056
2021,10/15/2001 03:00,chugwater,wy,us,light,30,30 seconds,F.E. Warren AFB Wyoming sightings,9/9/2003,41.7566667,-104.821111
2057,10/15/2002 18:00,bosler,wy,us,unknown,120,2 minutes,Women pass through Bosler&#44 Wyoming twice wi...,10/31/2003,41.5761111,-105.694722
2207,10/15/2010 02:30,cheyenne,wy,us,light,900,15 minutes,U.F.O in Cheyenne&#44 Wyoming,11/21/2010,41.1400000,-104.819722
2593,10/17/2008 19:20,colony (1 mile nw of),wy,us,unknown,300,5 minutes +,Uknown object over northeast Wyoming.,10/31/2008,44.8700000,-104.154722
3527,10/21/2011 19:30,hulett (near),wy,us,light,12,10 to 12 seconds,Bright silver object with silver trail traveli...,10/25/2011,44.6827778,-104.601111
4197,10/23/2013 21:15,alcova,wy,us,light,7,7 seconds,A mysterious shooting star heads straight for ...,11/11/2013,42.5522222,-106.715833
4239,10/24/2001 23:00,evanston,wy,us,oval,18000,5hours,observed a oblong green glassy object starting...,11/20/2001,41.2683333,-110.962500
4545,10/25/2008 21:00,rock springs,wy,us,other,120,1-2 min,10 bird like shapes in straight line. glowed o...,1/10/2009,41.5875000,-109.202222
5034,10/28/2001 21:00,laramie,wy,us,fireball,35,35sec,I saw a bright very bright light apear in the ...,11/20/2001,41.3113889,-105.590556
5050,10/28/2004 02:00,sheridan,wy,us,light,90,90 seconds,Object flying over the tree line at the Big Ho...,1/19/2005,44.7972222,-106.955556
5976,10/31/2011 20:15,rock springs,wy,us,sphere,120,2 minutes,One white star like light over Rock Springs Wy...,12/12/2011,41.5875000,-109.202222
6075,10/3/2003 20:51,clark,wy,us,light,300,5 minutes,Clark&#44 WY. object or Light heading S.W. at ...,11/8/2003,44.8994444,-109.150278
6247,10/4/1999 17:25,gillette,wy,us,other,15,10-15 sec.,At 5:20 P.M. my wife and I were taken our 10 y...,10/19/1999,44.2911111,-105.501667
6427,10/5/1997 19:00,cheyenne,wy,us,other,90,1.5 min,Seen a object in clear sky.looked like commet ...,1/11/2002,41.1400000,-104.819722
6599,10/5/2013 12:15,clark,wy,us,unknown,120,2 minutes,6 Invisible objects con trails only. ((NUFORC...,10/14/2013,44.8994444,-109.150278
6669,10/6/2002 19:25,lander,wy,us,circle,1,1 sec,a green circular light appeared and then darte...,10/15/2002,42.8330556,-108.730000
6934,10/7/2008 20:00,lyman,wy,us,flash,600,10 minutes,Red/Silver flashing light going across the sky...,10/31/2008,41.3275000,-110.292222
8262,1/11/2001 21:50,dubois,wy,us,fireball,1.5,1.5 sec,Bright &#44 fast falling light,2/18/2001,43.5336111,-109.629722
8309,11/1/2003 00:00,cheyenne,wy,us,fireball,5,5 seconds,A huge fireball east of Cheyenne Wyoming,1/17/2004,41.1400000,-104.819722
8645,11/12/1998 02:25,casper,wy,us,triangle,180,2-3 minutes,back oObserved a boomerang shaped object trave...,4/1/2000,42.8666667,-106.312500
9222,11/14/2011 18:50,green river,wy,us,triangle,15,15 sec,I was in my back yard and loooked up and saw ...,12/12/2011,41.5286111,-109.465556
9453,11/15/2001 21:10,clark,wy,us,light,600,10 minutes,I have been seeing a bright light for years in...,11/20/2001,44.8994444,-109.150278
12511,11/23/1999 22:30,casper,wy,us,sphere,60,1 minute,My wife and I witnessed a craft hovering over ...,12/16/1999,42.8666667,-106.312500
13400,11/28/2002 18:30,cheyenne,wy,us,fireball,5,5 seconds,Fireball seen in night sky near Cheyenne WY Th...,12/23/2002,41.1400000,-104.819722
14450,11/4/2007 00:40,powell,wy,us,triangle,10,10 seconds,single triangle craft with four dim light ring...,11/28/2007,44.7538889,-108.756667
14899,11/5/2005 23:28,laramie,wy,us,light,2,1-2 seconds,I saw a white light flash out of my drivers wi...,11/8/2005,41.3113889,-105.590556
15068,11/5/2011 21:30,torrington,wy,us,cigar,2,a few seconds,I was on a hill enjoying the sunset. I fell as...,12/12/2011,42.0650000,-104.181111
15528,1/17/1989 20:00,laramie,wy,us,other,900,15 minutes,Silent lighted craft flies over house&#44 witn...,10/31/2003,41.3113889,-105.590556
15696,11/7/2006 21:00,laramie,wy,us,rectangle,5,3-5 seconds,Fast moving&#44 silent&#44 black rectangle see...,8/7/2007,41.3113889,-105.590556
15793,1/17/2011 20:00,casper,wy,us,sphere,21600,6 hours,Multiple&#44 white&#44 sphericle craft pretend...,1/31/2011,42.8666667,-106.312500
15821,11/7/2012 19:30,casper,wy,us,sphere,20,15-20 seconds,Saw a green orb floating/flying object above m...,11/19/2012,42.8666667,-106.312500
15843,11/7/2013 01:45,casper,wy,us,chevron,3,2-3 seconds,Unexplained over Casper.,11/11/2013,42.8666667,-106.312500
16323,1/19/1989 20:15,laramie,wy,us,disk,600,10 minutes,Witness is lured out of house&#44 silent craft...,10/31/2003,41.3113889,-105.590556
17220,12/11/2013 18:25,powell,wy,us,chevron,10,~10 seconds,Bright flashes in north sky...,12/12/2013,44.7538889,-108.756667
17711,12/12/2005 23:00,evanston,wy,us,sphere,240,several hours,multicolored lights hover and fly over evanst...,2/14/2006,41.2683333,-110.962500
17969,12/13/2010 18:24,gillette,wy,us,fireball,10,10 seconds,Large White/Green Object Descends over Gillett...,1/5/2011,44.2911111,-105.501667
18422,12/15/2011 17:30,laramie,wy,us,changing,900,15 minutes aprox,Large Orange UFO over Laramie&#44 WY.,12/17/2011,41.3113889,-105.590556
18719,12/17/2010 18:15,buffalo,wy,us,disk,3,3 seconds,Black dinner plate size crab like object that ...,1/5/2011,44.3483333,-106.698333
18977,12/19/2006 21:00,sheridan,wy,us,light,300,multiple hours,Bright light in southeastern sky emitting red&...,2/1/2007,44.7972222,-106.955556
22158,1/23/2014 23:00,fort washakie,wy,us,light,3600,1 hour,Observed a still standing white silver red lig...,1/30/2014,43.0063889,-108.881667
22608,12/5/2005 21:00,cheyenne,wy,us,unknown,5,5 seconds,An orange object viewed intermmitantly in the ...,2/14/2006,41.1400000,-104.819722
23337,12/7/2012 06:30,rock springs,wy,us,disk,120,~2 minutes,Male witness reports seeing a red disc&#44 see...,12/20/2012,41.5875000,-109.202222
23370,12/7/2013 01:00,laramie,wy,us,sphere,1800,30 minutes,Bright orange sphere sitting in same spot for ...,1/10/2014,41.3113889,-105.590556
23978,12/9/2013 18:30,buffalo,wy,us,light,1800,30 minutes,Re-occurring for last month hovering light wit...,12/12/2013,44.3483333,-106.698333
24143,1/31/1999 19:30,riverton,wy,us,fireball,5,5 seconds,We were driving westbound on Hwy between River...,1/29/2002,43.0250000,-108.379444
25205,1/8/2001 18:30,gillette,wy,us,changing,5400,18:30 to 22:00,Bright light follows me.,2/18/2001,44.2911111,-105.501667
25224,1/8/2003 20:15,rock springs,wy,us,light,3600,1 hour,It was like an airport becon that was rotating...,3/21/2003,41.5875000,-109.202222
26419,2/14/2004 22:25,casper,wy,us,triangle,600,10 minutes,4 triangular orange and red lighted in casper&...,3/2/2004,42.8666667,-106.312500

KeyError: 'False: boolean label can not be used without a boolean index'

In [49]:
ufos_wyoming_df.to_csv("bad_times")

In [50]:
# Extract year from datetime object

ufos_wyoming_df['year'] = pd.DatetimeIndex(ufos_wyoming_df['datetime']).year

ufos_wyoming_df.head()

ParserError: hour must be in 0..23: 4/20/1983 24:00

In [9]:
# Filter columns of UFO dataframe to include only: Year, City, Duration (seconds), Shape, and Comments

#### Transform Yellowstone Data

In [10]:
# Filter columns of Yellowstone dataframe to include only Year and Recreation Visitors

### Load

#### Load UFO data into SQL database

#### Load Yellowstone data into SQL database